* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC, serif;
    font-weight: 400;
}

.app {
    min-height: 100vh;
}

.van-button {
    height: 40px;
}

.success {
    color: @successColor;
}

.processing {
    color: @mainColor;
}

.error {
    color: @errorColor;
}

@warningColor: #FD9728;

.warning {
    color: @warningColor;
}

.default {
    color: @defaultColor;
}

@import './svgicon';

.van-button--info {
    background-color: @mainColor;
}

.van-button--disabled {
    border: none;
    background-color: rgba(235,235,235,1) !important;
}

.bottom-btn {
    border-radius: 0;
    border: none;
}

.reset-btn {
    border-top: 1px solid rgba(0,0,0,0.12);
}

.filter {
    overflow: hidden;
}
